/* Logo 大小调整 */
.site-logo {
    height: auto !important;
    width: auto !important;
}

/* 移动端 Logo */
@media (max-width: 768px) {
    .site-logo {
        height: 1.5rem !important;
    }
}

/* Header 导航栏高度调整 */
div.fixed {
    padding-top: 16px;
    padding-bottom: 16px;
}